* {
    font-size: 30px;
}

#app {
    position: relative;
}

#app .message {
    position: fixed;
    right: 50px;
    top: 50px;
    width: 800px;
    height: 100px;
    background-color:  rebeccapurple;
    color: white;
    text-align: center;
    font-weight: bolder;
}